node_modules
coverage
dist
.DS_Store

# these cause more harm than good
# when working with contributors
package-lock.json
yarn.lock
src/**/*.js
src/**/*.js.map
src/**/*.cjs
src/**/*.cjs.map
src/**/*.d.ts
src/**/*.d.ts.map
src/**/*.d.cts
src/**/*.d.cts.map
